* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #214f56, #41414f, #4e2130);

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #231e24;
    padding: 1rem;
    perspective: 700px;
}

.card {
    background-color: #fff;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.3s ease;
}

img {
    height: 120px;
    width: 120px;
    object-fit: cover;

}

.back {
    background: url("https://cdn.crispedge.com/4d4860.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    cursor: pointer;

}
/*
.card:hover {
    transform: rotateY(180deg);
}
*/